.prices-wrapper {
  padding: 50px;
  height: 100%;

  .table {
    width: 50%;
    max-width: 50%;
    border-collapse: collapse;

    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;

      .btn {
        border-radius: 4px;
        color: white;
        padding: 3px 5px;
        font-weight: bold;

        &-high {
          background-color: $primary-color;
        }

        &-low {
          background-color: $danger-color;
        }

        &-same {
          background-color: #616161;
        }
      }
    }

    thead th {
      border: none;
    }
  }
}
