/* Global Settings */

/* Fonts */
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

/* Colors */
$base-text-color: #333;
$base-background-color: #fff;

/* Spacing Sizes */
$base-spacing-unit: $base-line-height;

/* Breakpoints */
$bp-small: 800px;
